.center-pl-g {
    position: absolute;
    top: 48%;
    z-index: 2000;
    width: 25%;
    margin-left: 9%;
    text-align: left;
    padding-left: 2%;
    font-size: 3vw;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(242, 146, 29, 0.6);
    opacity: 0.9;
    font-family: 'Poppins';
    
  }

 