
html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

.nav-about {
  transition: all 0.1s linear;
  position: absolute;
  z-index: 2000;
  width: 100%;
  text-align:center;
  height:40%;
  font-family: 'Poppins';

  opacity: 0.8;
  background-color:rgba(51, 44, 46, 0.6);
}



.center-about {
    position: absolute;
    top: 55%;
    width:18%;
    margin-left: 10%;
    padding-left: 1vw;
    padding-right: 3.3vw;
    text-align: center;
    font-size: 3vw;
    color: white;
    font-weight: bold;
    background-color: rgba(242, 146, 29, 0.6);
    opacity: 0.9;
    font-family: 'Poppins', sans-serif;
    
    
  }

  .center-about-details{
      background-color: rgba(51, 44, 46, 0.4);
      height: auto; 
      margin-top: 5%;
      margin-left: 15%;
      margin-right: 15%;
      width: 70%;
      margin-bottom: 5%;
      text-align: center;
      
    }
    .center-about-text{
    padding: 6%;
        padding-left: 8%;
        padding-right: 8%;
      font-weight: 500;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 1vw;
    }
    