.container-g3 {
  position: relative;
  text-align: center;
  color: black;
  margin-left: 3.5%;
  height: auto;
 
  margin-top: 126%;
  
}

.container-g4 {
  position: relative;
  text-align: center;
  color: black;
  bottom: 5vw;
  height: auto;

  margin-top: 196%;
  height: auto;
  
}
.container-g5 {  position: relative;
  text-align: center;
  color: black;
  margin-left: 3.5%;
  height: auto;;
  margin-top: 252%;
  
  
}
.container-g6 {
  position: relative;
  text-align: center;
  color: black;
  margin-top: 317%;
  height: auto;
  
}
.container-g7 {
  position: relative;
  text-align: center;
  color: black;
  margin-left: 3.5%;
  height: auto;
  margin-top: 375%;
 
  
}
.marg{
  margin-top: 440%;
  color: white;
}
.marg-pl{
  margin-top: 440%;
  color: white;
}
.marg2{
  margin-top: 465%;
  color: white;
}
.marg-b{
margin-top:190vw;
color: white;
}

  
@media (max-width:800px) {
  .container-g3 {
    position: relative;
    text-align: center;
    color: black;
    margin-left: 3.5%;
    height: auto;
   
    margin-top:320%;
    
  }
  
.container-g4 {
  position: relative;
  text-align: center;
  color: black;
  bottom: 5vw;
  height: auto;

  margin-top: 470%;
  height: auto;
  
}

.container-g5 {
  position: relative;
  text-align: center;
  color: black;
  bottom: 5vw;
  height: auto;

  margin-top: 620%;
  height: auto;
  
}
  
.container-g6 {
  position: relative;
  text-align: center;
  color: black;
  bottom: 5vw;
  height: auto;

  margin-top:770%;
  height: auto;
  
}

.container-g7 {
  position: relative;
  text-align: center;
  color: black;
  bottom: 5vw;
  height: auto;

  margin-top: 920%;
  height: auto;
  
}
  .marg-b{
    margin-top:460%;

    }
    
  
    .marg-pl{
      margin-top:1050%;
  
      }
      
}