.container-g3 {
  position: relative;
  text-align: center;
  color: black;
  margin-left: 3.5%;
  height: auto;
 
  margin-top: 53%;
  
}

.container-g4 {
  position: relative;
  text-align: center;
  color: black;
  bottom: 5vw;
  height: auto;

  margin-top: 122%;
  height: auto;
  
}
.container-g5 {  position: relative;
  text-align: center;
  color: black;
  margin-left: 3.5%;
  height: auto;;
  margin-top: 55%;
  
  
}
.container-g6 {
  position: relative;
  text-align: center;
  color: black;
  margin-top: 118%;
  height: auto;
  
}
.container-g7 {
  position: relative;
  text-align: center;
  color: black;
  margin-left: 3.5%;
  height: auto;
  margin-top: 60%;
 
  
}
.marg{
  margin-top: 125%;
  color: white;
}
.marg2{
  margin-top: 465%;
  color: white;
}
.marg-b{
margin-top:115vw;
color: white;
}

  