
  .rope-gall-lay2{
    background-color: rgba(210, 97, 3, 0.6);
    color: rgba(255, 255, 255, 1);
    width: 35%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  
  .rope-gall-lay2-p2{
    background-color: rgba(199, 199, 201, 0.7);
    color: rgba(255, 255, 255, 1);
    width: 35%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  .rope-gall-lay2-g2{
    background-color: rgba(199, 199, 201, 0.7);
    color: rgba(255, 255, 255, 1);
    width: 35%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }

  .rope-gall-lay2-p6{
    background-color: rgba(84, 82, 87, 0.7);
    color: rgba(255, 255, 255, 1);
    width: 35%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  
  .rope-gall-lay2-tit2{
    background-color: rgba(110, 110, 112, 0.7);
    color: rgba(255, 255, 255, 1);
    width: 35%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  .bottom-left-gall-lay2 {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left-gall-lay2 {
    position: absolute;
    top: -3vw;

    left: 46vw;
    font-size: 1.2vw;
  }
  .top-left2-gall-lay2 {
    position: absolute;
    top: 5vw;
    left: 4vw;
    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 1;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(132, 69, 16, 0.5);
  } 
  .top-left2-gall-lay2-g2 {
    position: absolute;
    top: 5vw;
    left: 4vw;
    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 1;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(184, 182, 183, 0.8);
  } 
  .top-left2-gall-lay2-p2 {
    position: absolute;
    top: 5vw;
    left: 4vw;
    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 1;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(184, 182, 183, 0.8);
  } 
  
  
  .top-left2-gall-lay2-p6 {
    position: absolute;
    top: 5vw;
    left: 4vw;
    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 1;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(31, 29, 31, 0.8);
  } 
  
  .top-left2-gall-lay2-tit2 {
    position: absolute;
    top: 5vw;
    left: 4vw;
    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 1;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(74, 74, 76, 0.8);
  } 
  
  
  .pl1-gall-lay2{
    width: 32vw;
  height: 42vw;
    margin-top:14vw;
    margin-left: 12vw;
    margin-right: 10vw;
  }
  .top-right-gall-lay2 {
    position: absolute;
    top:1.5vw;
    right: 52.5vw;
  }
  .pl2-gall-lay2{
    width: 35vw;
 
}

  .centered-gall-lay2 {
    position: absolute;
    top:-63.5vw;
    left: 40vw;
  }
  .pl3-gall-lay2-p1{
    width: 15.7vw;
    margin-top: 86vw;
    }

    .pl3-gall-laysilver2{
      width: 15.7vw;
      margin-top: 86.5vw;
      }
    .pl3-gall-lay2-p4{
        width: 15.7vw;
        margin-top: 83.5vw;
        }
    
        .pl3-gall-lay2-p6{
          width: 15.7vw;
          margin-top: 86.5vw;
          }
          
    .pl3-gall-lay2-g2{
        width: 15.7vw;
        margin-top: 85vw;
        }
    
        .pl3-gall-lay2-gcenter2{
          width: 15.7vw;
          margin-top: 89vw;
          }
          .spec2-gall2-s2{
            margin-left: 1%;
            font-size: 1vw;
            margin-top: 1%;
            margin-bottom: 1%;
            width: 12vw;
            font-family: 'Poppins', sans-serif;
          opacity: 1;
          font-weight: 600;
            color: #fff;
            padding: 1%;
            font-weight: 600;
            text-align: center;
               background-color: rgba(210, 97, 3, 0.6);
          }
          
          .spec2-gall2-s2:hover{
            color: white;
            opacity: 100%;
            background-color: rgba(210, 97, 3, 1);
          
          }.spec2-gallsilver3{
            margin-left: 1%;
            font-size: 1vw;
            margin-top: 1%;
            margin-bottom: 1%;
            width: 12vw;
            font-family: 'Poppins', sans-serif;
          opacity: 1;
          font-weight: 600;
            color: #fff;
            padding: 1%;
            font-weight: 600;
            text-align: center;
            background-color: rgba(114, 93, 88, 80%);
          }
          
          .spec2-gallsilver3:hover{
            color: white;
            opacity: 100%;
            background-color: rgba(114, 93, 88, 100%);
          
          }
          .spec2-gallg1spec{
            margin-left: 1%;
              font-size: 1vw;
              margin-top: 1%;
              margin-bottom: 1%;
              width: 12vw;
              font-family: 'Poppins', sans-serif;
          opacity: 1;
          font-weight: 600;
              color: #fff;
              padding: 1%;
              font-weight: 600;
              text-align: center;
              background-color: rgba(178, 178, 176, 0.7);
          }
          
          .spec2-gallg1spec:hover{
            color: white;
            opacity: 100%;
            background-color: rgba(178, 178, 176, 1);
          
          }
          .spec2-gallg3spec{
            margin-left: 1%;
              font-size: 1vw;
              margin-top: 1%;
              margin-bottom: 1%;
              width: 12vw;
              font-family: 'Poppins', sans-serif;
          opacity: 1;
          font-weight: 600;
              color: #fff;
              padding: 1%;
              font-weight: 600;
              text-align: center;
              background-color: rgba(39, 9, 0, 0.8);
          }
          
          .spec2-gallg3spec:hover{
            color: white;
            opacity: 100%;
            background-color: rgba(39, 9, 0, 1);
          
          }.spec2-gall2-g2{
            margin-left: 1%;
              font-size: 1vw;
              margin-top: 1%;
              margin-bottom: 1%;
              width: 12vw;
              font-family: 'Poppins', sans-serif;
          opacity: 1;
          font-weight: 600;
              color: #fff;
              padding: 1%;
              font-weight: 600;
              text-align: center;
              background-color: rgba(110, 109, 112, 80%);
          }
          
          .spec2-gall2-g2:hover{
            color: white;
            opacity: 100%;
            background-color: rgba(184, 182, 183, 1);
          
          }
          .spec2-gallp3{
            margin-left: 1%;
              font-size: 1vw;
              margin-top: 1%;
              margin-bottom: 1%;
              width: 12vw;
              font-family: 'Poppins', sans-serif;
          opacity: 1;
          font-weight: 600;
              color: #fff;
              padding: 1%;
              font-weight: 600;
              text-align: center;
              background-color: rgba(188, 166, 149, 80%);
          }
          
          .spec2-gallp3:hover{
            color: white;
            opacity: 100%;
            background-color: rgba(208, 190, 175, 1);
          
          }
          .spec2-gallp5{
            margin-left: 1%;
              font-size: 1vw;
              margin-top: 1%;
              margin-bottom: 1%;
              width: 12vw;
              font-family: 'Poppins', sans-serif;
          opacity: 1;
          font-weight: 600;
              color: #fff;
              padding: 1%;
              font-weight: 600;
              text-align: center;
              background-color: rgba(110, 109, 112, 80%);
          }
          
          .spec2-gallp5:hover{
            color: white;
            opacity: 100%;
            background-color: rgba(34, 32, 33, 1);
          
          }
          .spec2-gallp7{
            margin-left: 1%;
            font-size: 1vw;
            margin-top: 1%;
            margin-bottom: 1%;
            width: 12vw;
            font-family: 'Poppins', sans-serif;
          opacity: 1;
          font-weight: 600;
            color: #fff;
            padding: 1%;
            font-weight: 600;
            text-align: center;
            background-color: rgba(155, 158, 164, 80%);
          }
          
          .spec2-gallp7:hover{
            color: white;
            opacity: 100%;
            background-color: rgba(177, 181, 187, 1);
          
          }
          
.spec2-gall2{
  margin-left: 1%;
    font-size: 1vw;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 12vw;
    font-family: 'Poppins', sans-serif;
opacity: 1;
font-weight: 600;
    color: #fff;
    padding: 1%;
    font-weight: 600;
    text-align: center;
    background-color: rgba(177, 177, 177, 70%);
}

.spec2-gall2:hover{
  color: white;
  opacity: 100%;
  background-color: rgba(177, 177, 177, 100%);

}
.spec2-gallt3{
  margin-left: 1%;
    font-size: 1vw;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 12vw;
    font-family: 'Poppins', sans-serif;
opacity: 1;
font-weight: 600;
    color: #fff;
    padding: 1%;
    font-weight: 600;
    text-align: center;
    background-color: rgba(227, 214, 198, 0.6);
}

.spec2-gallt3:hover{
  color: white;
  opacity: 100%;
  background-color: rgba(227, 214, 198, 1);

}

          
          
          @media (max-width:800px) {
  

            .rope-gall-lay2{
              width: 115%;
              font-size: 4vw;
              margin-left: -4.5vw;
            
            }
            .rope-gall-lay2-g2{
              width: 115%;
              font-size: 4vw;
              margin-left: -4.5vw;
            
            }
            .rope-gall-lay2-p2{
              width: 115%;
              font-size: 4vw;
              margin-left: -4.5vw;
            
            }
            .rope-gall-lay2-p6{
              width: 115%;
              font-size: 4vw;
              margin-left: -4.5vw;
            
            }
            .rope-gall-lay2-tit2{
              width: 115%;
              font-size: 4vw;
              margin-left: -4.5vw;
            
            }
            .pl1-gall-lay2{
              
    width: 34vw;
    margin-right: -2vw; 
    height: 55vw;
    margin-top: 2vw;

            }
            .pl2-gall-lay2{
              width: 39vw;
              height: 46vw;
                margin-top:3vw;
                margin-left: -4vw;
                margin-right: 2vw;
            
           
          }
          .top-left2-gall-lay2 {
            top: 68vw;
            left: -40vw;
            width: 90vw;
            padding: 4vw;
            padding-left: 5vw;
            font-size: 3vw;
          } 
          .top-left2-gall-lay2-tit2 {
            top: 68vw;
            left: -40vw;
            width: 90vw;
            padding: 4vw;
            padding-left: 5vw;
            font-size: 3vw;
          } 
          .top-left2-gall-lay2-g2 {
            top: 68vw;
            left: -40vw;
            width: 90vw;
            padding: 4vw;
            padding-left: 5vw;
            font-size: 3vw;
          } 
          .top-left2-gall-lay2-p2 {
            top: 68vw;
            left: -40vw;
            width: 90vw;
            padding: 4vw;
            padding-left: 5vw;
            font-size: 3vw;
          } 
          .top-left2-gall-lay2-p6 {
            top: 68vw;
            left: -40vw;
            width: 90vw;
            padding: 4vw;
            padding-left: 5vw;
            font-size: 3vw;
          } 
          .centered-gall-lay2 {
            position: absolute;
            top:-63.5vw;
            left: 39.4vw;
          }
          .pl3-gall-lay2-gcenter2 {
            position: absolute;
            top:-9vw;
            left: 1vw;
          }
          .pl3-gall-lay2-p1 {
            position: absolute;
            top:-9vw;
            left: 1vw;
          }
          .pl3-gall-lay2-p4 {
            position: absolute;
            top:3vw;
            left: 1vw;
          }
          .pl3-gall-laysilver2{
            width: 17.7vw;

    margin-top: 80vw;
    
            }    
            .spec2-gall2-s2{
              margin-left: 24%;
              font-size: 4vw;
              margin-top: 5%;
              margin-bottom: 0%;
              width: 42vw;
            
              }.spec2-gallsilver3{
                margin-left: 24%;
                font-size: 4vw;
                margin-top: 5%;
                margin-bottom: 0%;
                width: 42vw;
              
               }
               .spec2-gallg1spec{
                margin-left: 24%;
                font-size: 4vw;
                margin-top: 5%;
                margin-bottom: 0%;
                width: 42vw;
          
              }
              .spec2-gallg3spec{
                margin-left: 24%;
                font-size: 4vw;
                margin-top: 5%;
                margin-bottom: 0%;
                width: 42vw;
          
              }
              .spec2-gall2-g2{
                margin-left: 24%;
                font-size: 4vw;
                margin-top: 5%;
                margin-bottom: 0%;
                width: 42vw;
           
              }.spec2-gallp3{
                margin-left: 24%;
                font-size: 4vw;
                margin-top: 5%;
                margin-bottom: 0%;
                width: 42vw;
          
              }
              .spec2-gallp5{
                margin-left: 24%;
                font-size: 4vw;
                margin-top: 5%;
                margin-bottom: 0%;
                width: 42vw;
          
              }
              .spec2-gallp7{
                margin-left: 24%;
                font-size: 4vw;
                margin-top: 5%;
                margin-bottom: 0%;
                width: 42vw;
          
              }
              
              
.spec2-gall2{
  margin-left: 24%;
  font-size: 4vw;
  margin-top: 5%;
  margin-bottom: 0%;
  width: 42vw;

}
.spec2-gallt3{
  margin-left: 24%;
  font-size: 4vw;
  margin-top: 5%;
  margin-bottom: 0%;
  width: 42vw;

}



              
                     }