


.rope-gall1{
    background-color: rgba(217, 128, 70, 0.7);
    color: rgba(255, 255, 255, 1);
    width: 30%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  
  .rope-gall3{
    background-color: rgba(208, 190, 175, 0.8);
    color: rgba(255, 255, 255, 1);
    width: 34%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  
  .rope-gall5{
    background-color: rgba(84, 82, 87, 0.7);
    color: rgba(255, 255, 255, 1);
    width: 38%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  .rope-gall7{
    background-color: rgba(177, 181, 187, 0.6);
    color: rgba(255, 255, 255, 1);
    width: 36%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  .rope-gall1-tit{
    background-color: rgba(150, 150, 152, 0.6);
    
    color: rgba(255, 255, 255, 1);
    width: 50%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  

  .rope-gallt1{
    background-color: rgba(150, 150, 152, 0.6);
    color: rgba(255, 255, 255, 1);
    width: 50%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  .rope-gallt3{
    background-color: rgba(227, 214, 198, 0.8);
    color: rgba(255, 255, 255, 1);
    width: 38%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
 
  }
  .rope-gallg1{
    background-color: rgba(221, 220, 217, 0.8);
    color: rgba(255, 255, 255, 1);
    width: 40%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .rope-gallg3{
    background-color: rgba(83, 52, 44, 1);
    color: rgba(255, 255, 255, 1);
    width: 30%;
   padding: .8vw;
    font-size: 1.3vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;

  }
  .rope-galls1{
    background-color: rgba(170, 20, 20, 0.6);
    color: rgba(255, 255, 255, 1);
    width: 35%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  .rope-gallsilv2{
    background-color:rgba(210, 97, 3, 0.6);
 
    color: rgba(255, 255, 255, 1);
    width: 20%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 53.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  .rope-galls3{
    background-color: rgba(83, 52, 44, 1);
    color: rgba(255, 255, 255, 1);
    width: 30%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  
.rope-gallp5{
  background-color: rgba(80, 77, 84, 0.7);
  color: rgba(255, 255, 255, 1);
  width: 40%;
 padding: .8vw;
 height: auto;
  font-size: 1.5vw;
  margin-left: 4vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

}
.rope-gallp7{
  background-color: rgba(177, 181, 187, 0.6);
  color: rgba(255, 255, 255, 1);
  width: 40%;
 padding: .8vw;
 height: auto;
  font-size: 1.5vw;
  margin-left: 4vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

} 
  .rope-gallg1header{
    background-color: rgba(221, 220, 217, 0.8);
    color: rgba(255, 255, 255, 1);
    width: 25%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }


  .rope-gallg3header{
    background-color: rgba(83, 52, 44, 1);
    color: rgba(255, 255, 255, 1);
    width: 35%;
   padding: .8vw;
   height: auto;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  
  .marg{
  margin-top: 465%;
  color: white;
}
.marg-t{
  margin-top: 2800px;
  color: white;
}
.container-gall1 {
    position: relative;
    text-align: center;
    color: black;
    margin-top: 1.5vw;
    margin-left: 3.5%;
    height: auto;
    
  }
  
  .bottom-left-gall1 {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left-gall1 {
    position: absolute;
    top: 1vw;

    left: 5vw;
    font-size: 1.2vw;
  }
  .marg-left-write{
   margin-left: 2%; 
  }
  .top-left2-gall1 {
    position: absolute;
    top: 5vw;
    left: 4vw;

    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 1;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(122, 45, 0, 0.6);
  }
  .top-left2-gall3 {
    position: absolute;
    top: 5vw;
    left: 4vw;

    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 0.8;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
  
    background-color: rgba(208, 190, 175, 0.8);
  }
  
  .top-left2-gall5 {
    position: absolute;
    top: 5vw;
    left: 4vw;

    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 0.8;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
  
    background-color:rgba(34, 32, 33, 0.8);
  }
  
  .top-left2-gall6 {
    position: absolute;
    top: 5vw;
    left: 4vw;

    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 0.8;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
   background-color:rgba(174, 177, 183, 0.8);
  }
  
  .top-left2-gallp7 {
    position: absolute;
    top: 5vw;
    left: 4vw;

    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 1;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
  
    background-color:rgba(177, 181, 187, 0.8);
  }
  .top-left2-gall1-tit {
    position: absolute;
    top: 5vw;
    left: 4vw;

    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 0.8;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color:rgba(123, 123, 123, 80%);
  }
  
  .pl3-gallt1{
    width: 15.7vw;
    margin-top: 90.5vw;
    } 
    .pl3-galltti1{
      width: 15.7vw;
      margin-top: 88.2vw;
      } 
    .pl3-gallt3{
      width: 15.7vw;
      margin-top: 24.8vw;
      } 

      .pl3-galltit3{
        width: 15.7vw;
        margin-top: 25.8vw;
        } 
  

      .pl3-gold3{
        width: 15.7vw;
        margin-top: 26.8vw;
        } 
    .pl3-gallg1{
      width: 15.7vw;
      margin-top: 90vw;
      height: 28vw;
      } 
      .pl3-gallg3{
        width: 15.7vw;
        margin-top: 85vw;
        } 

        .pl3-gallgs1{
          width: 15vw;
          margin-top: 82vw;
          margin-right: 1vw;
          height: 28vw;
          } 
          .pl3-gallp3{
            width: 15vw;
            margin-top: 26.5vw;
            margin-right: 1vw;
            height: 28vw;
            } 
  .top-left2-gallt1 {
    position: absolute;
    top: 5vw;
    left: 4vw;

    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 0.8;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color:rgba(123, 123, 123, 0.8);
  }
  .top-left2-gallt3 {
    position: absolute;
    top: 5vw;
    left: 4vw;

    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 0.8;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(176, 166, 154, 0.6);
  }
  .top-left2-gallg1 {
    position: absolute;
    top: 5vw;
    left: 4vw;

    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 0.8;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(178, 178, 176, 0.7);
  }
  .top-left2-gallg3 {
    position: absolute;
    top: 4vw;
    left: 4vw;
    width: 80%;
    padding: .9vw;
    font-family: 'Poppins';
    text-align: left;
    opacity: 0.8;
    font-size: 1vw;
font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(39, 9, 0, 0.5);
  }
  .top-left2-galls1 {
    position: absolute;
    top: 5vw;
    left: 4vw;
    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 1;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(92, 27, 23, 0.5);
  } 
  
  .top-left2-galls3 {
    position: absolute;
    top: 5vw;
    left: 4vw;
    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 1;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(39, 9, 0, 0.5);
  }
 
  .top-left2-galls1 {
    position: absolute;
    top: 5vw;
    left: 4vw;
    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 0.8;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(39, 9, 0, 0.5);
  } 
 
  .top-left3-gall1 {
    position: absolute;
    top: 60px;
    left: 16px;
    width: 460px;
    padding: 1%;
    font-family: 'Poppins';
    opacity: 0.8;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(122, 45, 0, 0.6);
  }
  .top-left2-gallg1lay {
    position: absolute;
    top: 5vw;
    left: 4vw;
    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 0.8;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(178, 178, 176, 0.7);
  } 
  .top-left2-gallp5 {
    position: absolute;
    top: 5vw;
    left: 4vw;
    width: 37.5vw;
    padding: .9vw;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 1;
    font-size: 1vw;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(34, 32, 33, 0.8);
  } 
  
  .pl1-gall1{
    width: 30vw;
  height: 42vw;
    margin-top:14vw;
    margin-left: 7vw;
    margin-right: 10vw;
  }
  .top-right-gall1 {
    position: absolute;
    top:1.5vw;
    right: 15.5vw;
  }
  .pl2-gall1{
    width: 30vw;
 
}
.pl2-gall1-s3{
  width: 30vw;

margin-left: 5%;

}


  .bottom-right-g {
    position: absolute;
    bottom: 8px;
    right: 16px;
    margin-top: 2000px;
  }

  .rope2{
    background-color: rgba(217, 128, 70, 0.7);
    color: rgba(255, 255, 255, 1);
    width: 220px;
  padding: 2%;
    font-size: 22px;
    margin-right: 450px;
  }


  .centered-gall1 {
    position: absolute;
    top:-59.5vw;
    left: 44vw;
  }
  .centered-galls1 {
    position: absolute;
    
    left: 44vw;
  }
  
  .pl3-gall1{
    width: 15.7vw;
    margin-top: 86.5vw;
    }

    .pl3-goldl1{
      width: 15.7vw;
      margin-top: 83.5vw;
      }
    .pl3-galls1{
      width: 14vw;
      margin-top: 28vw;
      margin-right: 4vw;
      } 
      .pl3-gallp5{
        width: 14vw;
        margin-top: 23.5vw;
        margin-right: 4vw;
        } 
  .ul1-gall1 {
    font-size: 1vw;
    font-weight: 600;
    margin-left: 4%;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
  }
  .spec{
      text-decoration: underline;
      font-family: 'Poppins';
  
  }
  .spec2-gall1{
    margin-left: 2%;
    font-size: 1vw;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 12vw;
    font-family: 'Poppins', sans-serif;
opacity: 1;
font-weight: 600;
    color: #fff;
    padding: 1%;
    font-weight: 600;
    text-align: center;
    background-color: rgba(217, 128, 70, 0.5);
  }


.spec2-gall1:hover{
  color: white;
  opacity: 100%;
  
  background-color: rgba(217, 128, 70, 1);
}

.ul1-gall-layout {
    
  margin-left:0%;
  font-size: 1vw;
  font-weight: 600;
  margin-left: 0%;
  margin-top: 2%;
   width: 60vw;
  font-family: 'Poppins', sans-serif;

}
.spec{
  text-decoration: underline;
  
  font-family: 'Poppins', sans-serif;

}
.spec2-galls1{
  margin-left: 1%;
  font-size: 1vw;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 12vw;
  font-family: 'Poppins', sans-serif;
opacity: 1;
font-weight: 600;
  color: #fff;
  padding: 1%;
  font-weight: 600;
  text-align: center;
background-color: rgba(170, 20, 20, 0.6);
}


.spec2-galls1:hover{
color: white;
opacity: 100%;

background-color: rgba(170, 20, 20, 1);
}
.spec2-galls3{
  margin-left: 1%;
  font-size: 1vw;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 12vw;
  font-family: 'Poppins', sans-serif;
opacity: 1;
font-weight: 600;
  color: #fff;
  padding: 1%;
  font-weight: 600;
  text-align: center;
   background-color: rgba(39, 9, 0, 0.5);
}


.spec2-galls3:hover{
color: white;
opacity: 100%;

background-color: rgba(39, 9, 0, 1);
}
