
nav{
    transition: all 0.1s linear;
    position: absolute;
    z-index: 2000;
    
    width: 100%;
    text-align:center;
    height:0vw;
    margin-top: -46.3vw;
    font-family: 'Poppins';
  
    opacity: 1;
    background-color:rgba(51, 44, 46, 0.6);
  
  }
  nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
  }
  .logo-img-m2{
    width: 0vw;
  }
  .navbar .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  nav .navbar .nav-links{
    line-height: 70px;
    height: 160%;
  
  }
  nav .navbar .links{
    display: flex;
    margin-left: 20vw;
    font-size: 0vw;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    text-align: left;
    justify-content: space-between;
    list-style: none;
    
    padding: 0 14px;
  }
  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    font-family: 'Poppins', sans-serif;
  
    font-size: 0vw;
    font-weight: 500;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
  
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: black;
  font-size: 0vw;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: white;
    color: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: black;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu   :hover {
    background-color: rgb(242, 146, 29, 100);
      font-family: 'Poppins', sans-serif;
    opacity: 1;
    font-weight: 900;
  color: white;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .navbar .links li .htmlCss-more-sub-menu{
    /* line-height: 40px; */
  }
  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .search-box{
    position: relative;
     height: 40px;
    width: 40px;
  }
  .navbar .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #3E8DA8;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #3E8DA8;
  }
  .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #3E8DA8;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
  }
  .search-box .input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }
  @media (max-width:801px) {
    nav .navbar{
      max-width: 100%;
      padding: 0 25px;
    }
  
    nav .navbar .logo a{
      font-size: 27px;
    }
    nav .navbar .links li{
      padding: 0 10px;
      white-space: nowrap;
    }
    nav .navbar .links li a{
      font-size: 15px;
    }
  }
  @media (max-width:800px){
    nav{
      /* position: relative; */
      margin-top: -51vw;
      height:16.5vw;
      position: fixed;
      opacity: 100%;
  
    }
    .logo-img-m2{
      width: 40vw;
      margin-top:2.5vw;
      opacity: 1;
    }
    .navbar .bx-menu{
      display: block;
    }
    nav .navbar .nav-links{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background:  white;
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10vw;
    }
    .sidebar-logo .logo-name{
      font-size: 25px;
      color: #fff;
      
    }
      .sidebar-logo  i,
      .navbar .bx-menu{
        font-size: 10vw;
        color: white;
        margin-top: -29vw;
        margin-right: 82vw;
      }
      .sidebar-logo  i,
      .navbar .bx-menu .bx-x{
        font-size: 5vw;
        color: black;
        margin-top: -14vw;
        margin-right: 82vw;
      }
    nav .navbar .links{
      display: block;
      margin-top: 20px;
      margin-left: 0px;
   
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .links li{
      display: block;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar .links li .sub-menu .more span{
      /* background: red; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
    }
  
    .links li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
      display: none;
    }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
      }
      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show3 .links .js-arrow{
          transform: rotate(180deg);
  }
      .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
      }
  }
  @media (max-width:570px){
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 10vw;
      color: white;
      margin-top: -30vw;
      margin-right: 82vw;
    }
    .sidebar-logo  i,
    .navbar .bx-menu .bx-x{
      font-size: 5vw;
      color: black;
      margin-top: -14vw;
      margin-right: 82vw;
    }
    nav .navbar .links li .arrow{
      /* background: red; */
      height: 100%;
      width: 22px;
    
      line-height: 70px;
      text-align: center;
      display: inline-block;
      color: black;
    font-size: 3vw;
      transition: all 0.3s ease;
    }
    
  }
  @media (max-width:370px){
    nav .navbar .nav-links{
    max-width: 100%;
  } 
  .sidebar-logo  i,
      .navbar .bx-menu .bx-x{
        font-size: 5vw;
        color: black;
        margin-top: -14vw;
        margin-right: 82vw;
      }
  }
  
  @media (max-width:370px){
    nav{
      height:16.5vw;
     /* position: relative; */
      margin-top: -54vw;
    }
  
  .sidebar-logo  i,
  .navbar .bx-menu{
    font-size: 10vw;
    color: white;
    margin-top: -29.5vw;
  }
  nav .navbar .links li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
  
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: black;
  font-size: 3vw;
    transition: all 0.3s ease;
  }
  
  .sidebar-logo  i,
      .navbar .bx-menu .bx-x{
        font-size: 5vw;
        color: black;
        margin-top: -14vw;
        margin-right: 82vw;
      }
  }
  
  @media (max-width:280px){
    nav{
      /* position: relative; */
      margin-top: -55vw;
    }
  
  .sidebar-logo  i,
  .navbar .bx-menu{
    color: white;
    margin-top: -31.5vw;
    font-size: 10vw;
  }
  .sidebar-logo  i,
      .navbar .bx-menu .bx-x{
        font-size: 5vw;
        color: black;
        margin-top: -14vw;
        margin-right: 82vw;
      }
  }
  
  @media (max-width:240px){
    nav{
      /* position: relative; */
  
    }
  
  .sidebar-logo  i,
  .navbar .bx-menu{
    color: white;
    margin-top: -35.5vw;
    font-size: 10vw;
  }
  .sidebar-logo  i,
      .navbar .bx-menu .bx-x{
        font-size: 5vw;
        color: black;
        margin-top: -14vw;
        margin-right: 82vw;
      }
  }
  
  @media (max-width:210px){
    nav{
    }
  
  .sidebar-logo  i,
  .navbar .bx-menu{
    color: white;
    margin-top: -39.5vw;
    font-size: 10vw;
  }
  .sidebar-logo  i,
      .navbar .bx-menu .bx-x{
        font-size: 5vw;
        color: black;
        margin-top: -14vw;
        margin-right: 82vw;
      }
      nav .navbar .links li .arrow{
        /* background: red; */
        height: 100%;
        width: 22px;
      
        line-height: 70px;
        text-align: center;
        display: inline-block;
        color: black;
      font-size: 3vw;
        transition: all 0.3s ease;
      }
      
  }
  
  @media (max-width:180px){
    nav{
    }
  
  .sidebar-logo  i,
  .navbar .bx-menu{
    height:12vw;
    color: white;
    margin-top: -40vw;
    font-size: 10vw;
  }
  .sidebar-logo  i,
      .navbar .bx-menu .bx-x{
        font-size: 5vw;
        color: black;
        margin-top: -14vw;
        margin-right: 82vw;
      }
      nav .navbar .links li .arrow{
        /* background: red; */
        height: 100%;
        width: 22px;
      
        line-height: 70px;
        text-align: center;
        display: inline-block;
        color: black;
      font-size: 4vw;
        transition: all 0.3s ease;
      }
      
  }
  
  @media (max-width:160px){
    nav{
      /* position: relative; */
    }
  
  .sidebar-logo  i,
  .navbar .bx-menu{
   color: white; 
    margin-top: -46.4vw;
    font-size: 8vw;
  }
  .sidebar-logo  i,
      .navbar .bx-menu .bx-x{
        font-size: 5vw;
        color: black;
        margin-top: -14vw;
        margin-right: 82vw;
      }
      nav .navbar .links li .arrow{
        /* background: red; */
        height: 100%;
        width: 22px;
      
        line-height: 70px;
        text-align: center;
        display: inline-block;
        color: black;
      font-size: 4vw;
        transition: all 0.3s ease;
      }
      
  }