

  
  .nav-main {
    transition: all 0.1s linear;
    position: absolute;
    z-index: 2000;
    
    width: 100%;
    text-align:center;
    height:9vw;
    font-family: 'Poppins';

    opacity: 0.8;
    background-color:rgba(51, 44, 46, 0.6);
  }
  .nav-main-2 {
    transition: all 0.1s linear;
    position: absolute;
    z-index: 2000;
    
    width: 100%;
    text-align:center;
    height:32%;
    font-family: 'Poppins';

    opacity: 0.8;
    background-color:rgba(51, 44, 46, 0.6);
  }
  .scrollNav {
    transition: all 0.5s ease-in;
    z-index: 2000;
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #dddddd;
  }
  .styl {
    padding-top: 80px;
  }
  
  .container-main1 {
    position: relative;
    font-size: 100%;
    height: 500%;
    width: 100%;


  }
  .container-main2 {
    position: relative;
    font-size: 0%;
    height: 0%;
    width: 0%;
  }


  .center {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  .topleft {
    position: absolute;
    top: 8px;
    margin-left: 50%;
    font-size: 18px;
  }
  
  .img { 
    width: 100%;
    height: auto;
    opacity: 1;
  }
  .img-front { 
    width: 100%;
    height: auto;
    opacity: 1;
  }
  .img-front2 { 
    width: 0%;
    height:auto;
    opacity: 0;
  }
  .logo-img-m { 
    width: 20vw;
  }
  
  .center21-main {
    position: absolute;
    top: 30%;
    width: 35%;
    font-size: bold;
    margin-left: 33%;
    text-align: center;
    font-size: 3vw;
    color: white;
    background-color: rgba(242, 146, 29, 0.7);
    opacity: 0.9;
    font-family: 'Poppins', sans-serif;
    z-index: 2000;
  }
  .center22-main {
    position: absolute;
    top: 56%;
    width: 64%;
    margin-left: 17%;
    text-align: center;
    padding: 1%;
    font-size: 1.2vw;
    z-index: 2000;
    color: white;
    background-color:rgba(51, 44, 46, 0.4);
    font-family: 'Poppins', sans-serif;
    opacity: 0.9;
   font-weight: 500;
    
  }
  
  .center3-main {
    position: absolute;
    top: 79%;
    width: 20%;
    padding: 2%;

font-size: bold;
    margin-left: 40%;
    text-align: center;
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;    
    color: white;
    padding-top: 0.2%;
    padding-bottom: 0.3%;
    z-index: 2000;

    background-color: rgba(242, 146, 29, 0.6);
   
    opacity: 1;
  
    
  }
  .center3-main:hover{
    background-color: rgba(242, 146, 29, 0.8);
   color: white;
    opacity: 1;
   
  }
  .center21-2-main {
    position: absolute;
    top: 0%;
    width: 0%;
    font-size: bold;
    margin-left: 0%;
    text-align: center;
    font-size: 0vw;
    color: white;
    background-color: rgba(242, 146, 29, 0.7);
    opacity: 0;
    font-family: 'Poppins', sans-serif;
    z-index:0;
  }
  .center22-2-main {
    position: absolute;
    top: 0%;
    width: 0%;
    margin-left: 0%;
    text-align: center;
    padding: 0%;
    font-size: 0vw;
    z-index: 0;
    color: white;
    background-color:rgba(51, 44, 46, 0.4);
    font-family: 'Poppins', sans-serif;
    opacity: 0;
   font-weight: 0;
    
  }
  
  .center3-2-main {
    position: absolute;
    top: 0%;
    width: 0%;
    padding: 0%;

font-size: bold;
    margin-left: 0%;
    text-align: center;
    font-size: 0vw;
    font-family: 'Poppins', sans-serif;    
    color: white;
    padding-top: 0%;
    padding-bottom: 0%;
    z-index: 0;

    background-color: rgba(242, 146, 29, 0.6);
   
    opacity: 1;
  
    
  }
  .center3-2-main:hover{
    background-color: rgba(242, 146, 29, 0.8);
   color: white;
    opacity: 0;
   
  }
  
  .collection{
    text-align: center;
    margin-top: 30px;
    font-weight: 20px;
    font-size: 10px;
    color: #2b663a;
    font-family: 'Poppins';
  }
  
  .vl2 {
    border-top: 2px solid black;
   width: 20%;
   margin-left: 40%;
   font-family: 'Poppins';
  }
  
  .me{
    position: fixed;
  
    background-color: black;
  }
  
  .link-main:hover {
    color: #fcb603;

  }


  a:active {
    color: #fcb603;
  } 
  
  .links-main{
    position: absolute;
  margin-left: 33vw;
    font-family: 'Poppins';
    padding-left: 0%;
    font-size: 1.2vw;
    margin-top: -1%;
    color: white;    
    text-decoration: none;
  }
  .link-main{
    color: white;
    padding: 2vw;
    font-family: 'Poppins';
    font-size: 1.2vw;
    text-decoration: none;
    
   }
  /* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 45%;
    padding: 10px;
    background-color:white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .text-center{
    font-family: 'Poppins';
    color: rgba(242, 146, 29, 1);
    font-size: 20px;
 }


 @media (max-width:800px){
   
  .img-front2 { 
    width: 100%;
    height: auto;
    opacity: 1;
  }
  
  
  .nav-main {
    transition: all 0.1s linear;
    position: absolute;
    z-index:0;
    
    width: 0%;
    text-align:center;
    height:0vw;
    font-family: 'Poppins';

    opacity: 0;
    background-color:rgba(51, 44, 46, 0.6);
  }
  .nav-main-2 {
    transition: all 0.1s linear;
    position: absolute;
    z-index: 000;
    
    width: 0%;
    text-align:center;
    height:0%;
    font-family: 'Poppins';

    opacity: 0;
    background-color:rgba(51, 44, 46, 0.6);
  }
  .scrollNav {
    transition: all 0.5s ease-in;
    z-index: 00;
    background: #ffffff;
    width: 0%;
    border-bottom: 0px solid #dddddd;
  }
  .styl {
    padding-top: 0px;
  }
  
  .center21-2-main {
    position: absolute;
    top: 34%;
    width: 40%;
    font-size: bold;
    margin-left: 24%;
    text-align: center;
    font-size: 4vw;
    color: white;
    background-color: rgba(242, 146, 29, 0.7);
    opacity: 0.9;
    font-family: 'Poppins', sans-serif;
    z-index: 2000;
  }
  .center22-2-main {
    position: absolute;
    top: 60%;
    width: 64%;
    margin-left: 11%;
    text-align: center;
    padding: 1%;
    font-size: 2vw;
    z-index: 2000;
    color: white;
    background-color:rgba(51, 44, 46, 0.4);
    font-family: 'Poppins', sans-serif;
    opacity: 0.9;
   font-weight: 500;
    
  }
  
  .center3-2-main {
    position: absolute;
    top: 90%;
    width: 30%;
    padding: 2%;

font-size: bold;
    margin-left: 30%;
    text-align: center;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;    
    color: white;
    padding-top: 0.2%;
    padding-bottom: 0.3%;
    z-index: 2000;

    background-color: rgba(242, 146, 29, 0.6);
   
    opacity: 1;
  
    
  }
  .center3-2-main:hover{
    background-color: rgba(242, 146, 29, 0.8);
   color: white;
    opacity: 1;
   
  }
  
  
  .container-main2 {
    position: relative;
    font-size: 100%;
    height: 500%;
    width: 120%;
    margin-bottom: 10%;
  }
  .container-main1 {
    position:relative ;
    font-size: 0%;
    height: 0%;
    width: 0%;
  }
 
  .center21-main {
    position: absolute;
    top: 0%;
    width: 0%;
    font-size: bold;
    margin-left: 0%;
    text-align: center;
    font-size: 0vw;
    color: white;
    background-color: rgba(242, 146, 29, 0.7);
    opacity: 0;
    font-family: 'Poppins', sans-serif;
    z-index:0;
  }
  .center22-main {
    position: absolute;
    top: 0%;
    width: 0%;
    margin-left: 0%;
    text-align: center;
    padding: 0%;
    font-size: 0vw;
    z-index: 0;
    color: white;
    background-color:rgba(51, 44, 46, 0.4);
    font-family: 'Poppins', sans-serif;
    opacity: 0;
   font-weight: 0;
    
  }
  
  .center3-main {
    position: absolute;
    top: 0%;
    width: 0%;
    padding: 0%;

font-size: bold;
    margin-left: 0%;
    text-align: center;
    font-size: 0vw;
    font-family: 'Poppins', sans-serif;    
    color: white;
    padding-top: 0%;
    padding-bottom: 0%;
    z-index: 0;

    background-color: rgba(242, 146, 29, 0.6);
   
    opacity: 1;
  
    
  }
  .center3-main:hover{
    background-color: rgba(242, 146, 29, 0.8);
   color: white;
    opacity: 0;
   
  }
   
}