input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid rgba(242, 146, 29, 0.9);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  
  input[type=submit] {
    background-color: rgba(242, 146, 29, 0.9);
    color: white;
    padding: .8vw;
    border: none;
    border-radius: .2vw;
    cursor: pointer;
    margin-left: 70vw;
    margin-top: -10vw;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container-contact-form {
    border-radius: 5px;
     padding: 13vw;
     margin-top: -10vw;
  }
  
  /* Create two equal columns that floats next to each other */
  .column-contact {
    float: left;
    width: 48%;

    
  }
  
  /* Clear floats after the columns */
  .row-contact:after {
    content: "";
    display: table;
    clear: both;

  }
  .margright{
    margin-left: 8%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  
    font-size: 1.4vw;
  }
  .margright2{
    margin-left: 8%;
     }
  .comment-contact{
    height: 100px;
    }
    .pad-contact{
     padding-right: 1%;
      }
      
      @media screen and (min-device-width: 650px) and (max-device-width: 800px) { 
   
  input[type=submit] {
    margin-left: 65vw;
    margin-top: -10vw;
  }
      }
      @media screen and (min-device-width: 801px) and (max-device-width: 1500px) { 
   
        input[type=submit] {
          margin-left: 68.5vw;
          margin-top: -10vw;
        }
            }
          