.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    
    top:160px;
  
    color:white;
        width:100px;
    height:100px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    
    color:white;
        width:100px;
    height:100px;
    background-color:black;
  }
  
  .top-right {
    background-color: rgba(184, 182, 183, 0.8);
    color: rgba(255, 255, 255, 1);
  
    font-size: 1.5vw;
  margin-left: 48vw;
    margin-bottom: 5%;
    width: 20%;
   padding: .8vw;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  
  }
  .top-right-s1 {
    background-color:rgba(210, 97, 3, 0.6);
    color: rgba(255, 255, 255, 1);
  
    font-size: 1.5vw;
  margin-left: 48vw;
    margin-bottom: 5%;
    width: 20%;
   padding: .8vw;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  
  }

  

  .bottom-right {
    position: absolute;
    
    margin-right: 8vw;
    width: 30vw;
    height: 45vw; 
    top:20vw;
    color:white; }
  .pl-g-layout{
    width: 30vw;
    height: 45vw;
    margin-top: 0vw;
  margin-right: 14vw;
  }
  .pl-g-layout-s2{
    width: 30vw;
    height: 45vw;
    margin-top: -4vw;
  margin-right: 14vw;
  }
  .bottom-right-2 {
    position: absolute;
    text-align: left;
    right: 5vw;
    width: 35vw;
      height: 20vw;
    top:-15vw;
    color:white;
    padding: .9vw;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  opacity: 0.8;
 font-size: 1vw;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(184, 182, 183, 0.8) ;;
  }
  .bottom-right-2-s2 {
    position: absolute;
    text-align: left;
    right: 3vw;
    width: 37vw;
    top:-15vw;
    color:white;
    padding: .9vw;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  opacity: 0.8;
 font-size: 1vw;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(132, 69, 16, 0.5);
  }
  .centered-mid{
    position: absolute;
    margin-top: -5vw;
    margin-left: -10vw;
    transform: translate(-50%, -50%);
  }

  .centered-mid-s2{
    position: absolute;
    margin-top: -6vw;
    margin-left: -10vw;
    transform: translate(-50%, -50%);
  }
  .pl-glayout{
    width: 15.7vw;
    margin-top: -490%;
  
    } 
  .centered {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
     
    color:white;
        width:100px;
    height:100px;
    background-color:black;
  }
  .mg{
  margin-right:40px;
  }
  
  
  .spec2-gall2{
    margin-left: 2%;
      font-size: 1vw;
      margin-top: 2%;
      margin-bottom: 1%;
      width: 12vw;
      font-family: 'Poppins', sans-serif;
  opacity: 1;
  font-weight: 600;
      color: #fff;
      padding: 1%;
      font-weight: 600;
      text-align: center;
      background-color: rgba(75, 64, 58, 0.5);
  }
  
  .spec2-gall2:hover{
    color: white;
    opacity: 100%;
    background-color: rgba(75, 64, 58, 0.9);
  
  }
  .spec2-gall2-s2{
    margin-left: 2%;
      font-size: 1vw;
      margin-top: 2%;
      width: 12vw;
      font-family: 'Poppins', sans-serif;
  opacity: 1;
  font-weight: 600;
      color: #fff;
      padding: 1%;
      font-weight: 600;
      text-align: center;
      background-color: rgba(210, 97, 3, 0.6);
  }
  
  .spec2-gall2-s2:hover{
    color: white;
    opacity: 100%;
    background-color: rgba(210, 97, 3, 1);
  
  }

  