.center-pl-s {
    position: absolute;
    top: 48%;
    z-index: 2000;
    width: 25%;
    margin-left: 9%;
    text-align: left;
    font-size: 2.5vw;
    padding-left: 2%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(174, 174, 174, 0.6);
    opacity: 1.9;
    font-family: 'Poppins';
    
  }
  
  .center-pl2-s{
    position: absolute;
    top: 65%;
    z-index: 2000;
    width: 50%;
    margin-left: 9%;
    text-align: left;
    padding: 1vw;
    font-size: 1vw;
    color: rgba(255, 255, 255, 1);
    background-color:rgba(51, 44, 46, 0.4);
    font-family: 'Poppins';
    opacity: 2;
  
    
  }  
  .center-pl-s2 {
    position: absolute;
    top: 0%;
    z-index: 0;
    width: 0%;
    margin-left: 0%;
    text-align: left;
    font-size: 0vw;
    padding-left: 0%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(174, 174, 174, 0.6);
    opacity: 1.9;
    font-family: 'Poppins';
    
  }
  
  .center-pl2-s2{
    position: absolute;
    top: 0%;
    z-index:0;
    width: 0%;
    margin-left: 0%;
    text-align: left;
    padding: 0vw;
    font-size: 0vw;
    color: rgba(255, 255, 255, 1);
    background-color:rgba(51, 44, 46, 0.4);
    font-family: 'Poppins';
    opacity: 0;
  
    
  } 
  .img-front-silver { 
    width: 0%;
    height: auto;
    opacity: 1;
  }
   
  
@media (max-width:800px) {
  
  
  .img-front-silver { 
    width: 130%;
    height: auto;
    opacity: 1;
  }
  .center-pl-s2 {
    position: absolute;
    top: 35%;
    z-index: 2000;
    width: 35%;
    margin-left: 7%;
    text-align: left;
    font-size: 4vw;
    padding-left: 2%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(174, 174, 174, 0.6);
    opacity: 1.9;
    font-family: 'Poppins';
    
  }
  
  .center-pl2-s2{
    position: absolute;
    top: 52%;
    z-index: 2000;
    width: 70%;
    margin-left: 7%;
    text-align: left;
    padding: 1vw;
    font-size: 3vw;
    color: rgba(255, 255, 255, 1);
    background-color:rgba(51, 44, 46, 0.4);
    font-family: 'Poppins';
    opacity: 2;
  
    
  }  
  .center-pl-s {
    position: absolute;
    top: 0%;
    z-index: 0;
    width: 0%;
    margin-left: 0%;
    text-align: left;
    font-size: 0vw;
    padding-left: 0%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(174, 174, 174, 0.6);
    opacity: 1.9;
    font-family: 'Poppins';
    
  }
  
  .center-pl2-s{
    position: absolute;
    top: 0%;
    z-index:0;
    width: 0%;
    margin-left: 0%;
    text-align: left;
    padding: 0vw;
    font-size: 0vw;
    color: rgba(255, 255, 255, 1);
    background-color:rgba(51, 44, 46, 0.4);
    font-family: 'Poppins';
    opacity: 0;
  
    
  }  
 

}