/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
}
nav{
    transition: all 0.1s linear;
    position: absolute;
    z-index: 2000;
    
    width: 100%;
    text-align:center;
    height:9vw;
    font-family: 'Poppins';

    opacity: 0.8;
    background-color:rgba(51, 44, 46, 0.6);
 
}
nav .navbar{
  height: ;
  max-width: ;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 0px;
}
.navbar .logo {
  display: flex;
  position: absolute;
  
  margin-left: 20vw;
  margin-top: -1.5vw;
  
}
.logo-img-check{
  width: 20vw;

}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;

}

nav .navbar .links{
  display: flex;
  margin-top: -2.5vw;

  text-align: center;
  margin-left: 32vw;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
 padding-left: 3vw;
}
nav .navbar .links li {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: black;
  font-size: 1.2vw;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: white;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
  
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color:black;
  font-size: 1vw;
  font-weight: 500;
}
.navbar .links li .sub-menu   :hover {
  background-color: rgb(242, 146, 29, 100);
    font-family: 'Poppins', sans-serif;
  opacity: 1;
  font-weight: 900;
color: white;
}

.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}

.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}

@media screen and (min-device-width: 801px) and (max-device-width: 920px) { 


  nav .navbar .links{
    margin-top: -5.5vw;
  
    margin-left: 26vw;
  }
  nav{
    height:11.3vw;
   
  }
  }


@media screen and (min-device-width: 921px) and (max-device-width: 1030px) { 


  nav .navbar .links{
    margin-top: -4.5vw;
  
    margin-left: 31vw;
  }
  nav{
    height:11.3vw;
   
  }
  }

@media screen and (min-device-width: 1030px) and (max-device-width: 1350px) { 


  nav .navbar .links{
    margin-top: -3.5vw;
  
    margin-left: 31vw;
  }
  nav{
    height:11vw;
   
  }
  }
@media screen and (min-device-width: 1351px) and (max-device-width: 1750px) { 


nav .navbar .links{
  margin-top: -2.5vw;

  margin-left: 32vw;
}
nav{
  height:11vw;
 
}
}

@media (max-width:800px){
  nav{
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
    margin-top: -10vw;
  }
  nav .navbar .nav-links {
    position: fixed;
    margin-top: 85vw;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  white;
    color: black;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo {
    margin-left: 3vw;
    margin-top: 1vw;
  }
  .sidebar-logo .logo-name{
    font-size: 4vw;
    
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: black;
    }
  nav .navbar .links {
    display: block;
    margin-top: 0px;
    margin-left: -5vw;
    text-align: left;
    color: black;
  }
  nav .navbar .links li a{
    color: black;
       }
  .navbar .links li .sub-menu a{
    color:black;
    font-size: 2.5vw;
    font-weight: 600;
  }
 
  nav .navbar .links li .arrow{
    line-height: 40px;
    color: black;
    font-size: 2vw;

  }
nav .navbar .links li{
    display: block;
    
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
        
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media screen and (min-device-width: 552px) and (max-device-width: 631px) { 
  nav .navbar .nav-links {
    margin-top: 95vw;

  }

}

@media screen and (min-device-width: 488px) and (max-device-width: 551px) { 
  nav .navbar .nav-links {
    margin-top: 115vw;

  }

}

@media screen and (min-device-width: 371px) and (max-device-width: 487px) { 
  nav .navbar .nav-links {
    margin-top: 150vw;

  }

}


@media (max-width:370px){
  
  nav .navbar .nav-links{
  max-width: 100%;
  margin-top: 220vw;
}
nav .navbar .links{
  display: block;
  margin-top: 0px;
  margin-left: 0vw;
  text-align: center;
  color: black;
}
.navbar .links li .sub-menu a{
  color:black;
  font-size: 3.5vw;
  font-weight: 600;
}
}
@media (max-width:312px){
  
  nav .navbar .nav-links{
  max-width: 100%;
  margin-top: 240vw;
}
}
@media (max-width:250px){
  
  nav .navbar .nav-links{
  max-width: 100%;
  margin-top: 290vw;
}

}
@media (max-width:204px){
  
  nav .navbar .nav-links{
  max-width: 100%;
  margin-top: 380vw;
}
}
@media (max-width:176px){
  
  nav .navbar .nav-links{
  max-width: 100%;
  margin-top: 780vw;
}
}